.header {
    max-width: 960px;
    width: 100%;
    /*position: fixed;*/
    top: 0;
    min-height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-header-color);
}

.header__logo-img {
    width: 100px;
}

.header__nav-link {
    text-decoration: none;
    color: var(--nav-text-color);
}

li {
    list-style: none;
}