.form_main {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin: 10px 20px 10px 0;
}

.form_title {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
    color: var(--text-color);
}

.form_subtitle {
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 16px;
}

input {
    border-radius: 11%;
}

.grid {
    display: flex;
}

.icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 120vh;
    width: 550px;
}

.desc_title {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
}

.desc_subtitle {
    margin: 10px 20px 10px 5px;
    font-size: 0.7rem;
    font-family: 'Lato', sans-serif;
    text-align: justify;
    align-self: center;
}